@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

:root {
  --background-color: #125f4f;
  --label-color: #ededed;
  --input-background-color: #ffffff;
  --input-text-color: #1e1e1e;
  --primary-button-bg-color: #258f7a;
  --primary-button-border-color: #258f7a;
  --primary-button-hover-bg-color: #1e7966;
  --primary-button-hover-border-color: #1e7966;
}

body {
  background-color: #1bbc9b !important;
}

.container-fluid {
  margin-top: 7vh;
}

.login-form {
  width: 100%;
  max-width: 370px;
}

.label {
  font-size: 0.4rem;
  font-weight: bold;
  color: var(--label-color);
}

.login-form .form-label.label {
  font-size: 0.875rem;
}

.form-control {
  background-color: var(--input-background-color) !important;
  border: none !important;
  color: var(--input-text-color) !important;
  height: 31px;
}

.form-control:focus {
  box-shadow: none !important;
}

.btn-primary {
  background-color: var(--primary-button-bg-color) !important;
  border-color: var(--primary-button-border-color) !important;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--primary-button-hover-bg-color) !important;
  border-color: var(--primary-button-hover-border-color) !important;
}

.form-label {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.heading {
  font-family: 'Syncopate', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.2;
}

.heading span {
  display: block;
}

.form-control {
  margin-bottom: 1rem;
}

.invalid-feedback {
  font-size: 0.75rem;
  color: #ff4c4c;
}

@media (max-width: 768px) {
  .login-form {
    max-width: 90%;
  }
}
